svg {
  border: 1px solid #ccc;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}


.bar {
  fill-opacity: 0.5;
}
.bar.left {
  fill: steelblue;
}
.bar.right {
  fill: firebrick;
}

.bar.highlighted {

    /* Couleur de remplissage au survol */
  opacity: 0.5;     /* Opacité réduite au survol */
  cursor: pointer;  /* Curseur de type main au survol */
}

#info {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 300px;
  transition: all 0.3s ease;
}

#info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

#info p {
  margin: 5px 0;
  color: #666;
}

#info p:first-child {
  font-weight: bold;
}

#info:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #007BFF;
  color: #FFFFDD;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

header {
  background-color: #333; /* Set the background color */
  color: #FFFFDD; /* Set the text color */
  /*padding: 10px; !* Add some padding for spacing *!*/
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Align items vertically */
}

body{
  margin: 0;
}