/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    /*margin: 50px;*/
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #FFFFDD;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #999999;
    cursor: not-allowed;
}

header {
    background-color: #333; /* Set the background color */
    color: #FFFFDD; /* Set the text color */
    /*padding: 10px; !* Add some padding for spacing *!*/
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */
}