body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    /*overflow: hidden;*/
}
.axis path {
    fill: none;
    stroke: #999;
    stroke-dasharray: 2 3;
}
.axis text {
    font-size: 13px;
    stroke: #222;
}
text.title {
    font-size: 24px;
}
circle.tick {
    fill: #f3f3f3;
    stroke: #999;
    stroke-dasharray: 2 3;
}
path.spiral {
    fill: none;
    stroke: #ee8d18;
    stroke-width: 3px;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    z-index: 10;
    display: block;
    opacity: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#filters{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

#genres{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options{
    font-size: 1.5em;
    color: black;
    border: #61A3BA 1px solid;
    background-color: white;
    border-radius: 25px;
    margin-inline: 5%;
    margin-block: 1% ;
    padding-block: 0;
}

.enabled{
    background-color: #61A3BA;
    color: white;
}

.enabled:hover{
    background-color: #a0c7d5;
    color: white;
}

.disabled:hover{
    background-color: #3a7285;
    color: white;
}

#mainPanel{
    flex: 1;
    display: flex;
    justify-content: center;
}

#years{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

#validateButton {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #219d54;
    background-color: #219d54;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

#validateButton:hover {
    background-color: #A2C579;
    border-color: #A2C579;
}

#validateButton:focus {
    outline: none;
}

#checkboxes{
    font-size: 24px;
    color: #635a5a;
    display: flex;
    justify-content: space-around;
}

input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* Change the color if you'd like */
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}